html, body {
    height: 100%;
    margin: 0;
}

#screen-preview {
    width: 100%;
    height: 100%;
}

div[id^="cursor-"] {
  width: 15px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url('../img/cursor.svg#cursor-orange') no-repeat;
}

div[id^="cursor-"][data-color="2"] {
  background: url('../img/cursor.svg#cursor-blue') no-repeat;
}

@keyframes double-pulse-1 {
  0% {
    opacity: 1;
    transform: scale3d(0.1, 0.1, 1);
  }
  100% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes double-pulse-2 {
  0% {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
  50%, 100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}

div[id^="cursor-"]::after,
div[id^="cursor-"]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}

/* color for effect on orange cursor */
div[id^="cursor-"].clicked::before,
div[id^="cursor-"].clicked::after {
  box-shadow: 0 0 0 5px rgba(231, 149, 68, 0.5);
}

/* color for effect on blue cursor */
div[id^="cursor-"][data-color="2"].clicked::before,
div[id^="cursor-"][data-color="2"].clicked::after {
  box-shadow: 0 0 0 5px rgba(59, 147, 215, 0.5);
}
.clicked::after {
  animation: double-pulse-1 1s ease-out forwards;
}
.clicked::before {
  animation: double-pulse-2 1s ease-out forwards;
}


